
.navbar{
  display:block;
  position: fixed;
  top: 5px;
  right: 5px;
  font-weight: 500;
  z-index: 5;
  background-color: red;
  padding: 0;
  text-align: center;
  border-radius: 3%;
}

.navbar-nav{padding-top: 0; padding-bottom: 0;}
.nav-link{padding: 8px;}



.home-page{padding:0; position:relative;}
.title{position: absolute; top:8%; left:7%; text-align: center;}
.title h1{font-size: 5rem; font-family: 'Cuprum', sans-serif; letter-spacing: 4.5px; border-bottom: 1.5px solid #294636; text-shadow: 1px 1px white;}
.title p{font-size: 1.5rem; text-shadow: 0.5px 0.5px white;}
.img-blaise{width:50%; border-radius: 100%;}

.container{padding: 15% 5%;}

.experience h1{text-align: center; margin: 50px;}
.experience .col-md-4{border-right: 2px solid #294636;}
.school .col-md-8{padding: 3% 1.5%;}
.school .col-md-4{padding: 2.8% 1.5%}
.UoYork{width: 40px;}

.skills h1{text-align:center; margin: 60px;}

.projects h1{text-align:center; margin: 60px;}
.projects h2{text-align:center; margin: 60px;}
iframe{margin-left: auto; margin-right: auto; display: block;}

.contact{text-align: center;}
.contact h1{text-align:center; margin: 60px;}

.footer{color: white; background-color: #294636; margin: 50px auto 0 auto; padding: 50px; line-height: 3; text-align: center;}
.footer a{margin: auto 30px auto 30px; text-decoration: none; color:#547575;}
.footer a:hover{color:white;}
.footer p{margin-bottom: 0; color:white; font-size: 0.75rem;}

body{font-family: 'Asap', cursive; color: #294636; }
h1{font-weight: 500;}
hr{border-color: #91baa4; border-style:dotted none none none; border-width: 20px; width: 30%; }


.BUTTON_BLR {
  margin: 7% auto;
   background: #294636;
   background-image: -webkit-linear-gradient(top, #294636, #385143);
   background-image: -moz-linear-gradient(top, #294636, #385143);
   background-image: -ms-linear-gradient(top, #294636, #385143);
   background-image: -o-linear-gradient(top, #294636, #385143);
   background-image: -webkit-gradient(to bottom, #294636, #385143);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Verdana;
   font-size: 40px;
   font-weight: 100;
   padding: 29px;
   -webkit-box-shadow: 0 1px 5px 0 #000000;
   -moz-box-shadow: 0 1px 5px 0 #000000;
   box-shadow: 0 1px 5px 0 #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_BLR:hover {
   border: solid #99C624 0;
   background: #37C955;
   background-image: -webkit-linear-gradient(top, #37C955, #1ED06C);
   background-image: -moz-linear-gradient(top, #37C955, #1ED06C);
   background-image: -ms-linear-gradient(top, #37C955, #1ED06C);
   background-image: -o-linear-gradient(top, #37C955, #1ED06C);
   background-image: -webkit-gradient(to bottom, #37C955, #1ED06C);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
